---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import About from "./About.astro";
import Skills from "./Skills.astro";
import Portfolio from "./Portfolio.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---

<div id="container">
	<Header />
	<Hero />
	<About />
	<Skills />
	<Portfolio />
	<Contact />
	<Footer />
</div>

<style>
	#container {
		font-family: "Inter", system-ui, sans-serif;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
</style>
